{% load staticfiles %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Iron Bank</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}" media="screen" title="no title">
    <style media="screen">
      body {
        background-color: #bea63a;
      }
    </style>
  </head>
  <body>
  <nav class="navbar navbar-default navbar-inverse">
  <div class="container-fluid">
    <div class="nav navbar-nav">
      <div class="navbar-header">
         <img alt="Brand" src="{% static 'ironbank.jpg' %}" height="50" width="50">
      </div>
      <li><a href="{% url 'user_create_view' %}">Create User</a></li>
        {% if not request.user.is_authenticated %}
            <li><a href="{% url 'login' %}">Login</a></li>
            {% else %}
            <li><a href="{% url 'logout' %}?next={% url 'index_view' %}">Logout</a></li>
            <p class="navbar-text">Hello, <b>{{ request.user }}</b></p>
        {% endif %}
    </div>
  </div>
  </nav>
    <div class="container">
    {% block content %}

    {% endblock %}
    </div>
  </body>
</html>
