{% extends 'base.html' %}

{% block content %}

{% if request.user.is_authenticated %}
  Hello, {{ request.user }}
  <form class="" action="" method="post">

  {% csrf_token %}
  {{ form.as_p }}

  <input type="submit" name="" value="Submit">
  </form>

    {% for transaction in transaction_list %}
      {{ transaction.amount|floatformat:2 }}
      {{ transaction.get_process_type_display }}
      {{ transaction.account }}
      <br>
    {% endfor %}
    <br>
    {{ request.user.profile.balance|floatformat:2 }}

  {% else %}
    <h1>Log in to continue banking</h1>

{% endif %}
{% endblock %}
