{% extends 'base.html' %}

{% block content %}

{% if request.user.is_authenticated %}
<div class="row">
  <div class="col-md-5">
    <div class="row">
      <div class="panel panel-default">
        <div class="panel-body">
          <form class="" action="" method="post">
          {% csrf_token %}
          {{ form.as_p }}
          <input type="submit" class="btn btn-default" value="Submit">
          </form>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="panel panel-default">
        <div class="panel-body">
          <h1>Balance: ${{ request.user.profile.balance|floatformat:2 }}</h1>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-1">
  </div>
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-body">
        <table class="table table-hover table-condensed">
          <tr>
            <th>Amount</th>
            <th>Deposit/Withdrawal</th>
            <th>Date</th>
          </tr>
          {% for transaction in transaction_list %}
          <tr>
            <td>${{ transaction.amount|floatformat:2 }}</td>
            <td>{{ transaction.get_process_type_display }}</td>
            <td>{{ transaction.created }}</td>
          </tr>
        {% endfor %}
        </table>
      </div>
    </div>
  </div>
  {% else %}
    <h1>Log in to continue banking</h1>
</div>
{% endif %}



{% endblock %}
